
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product creation</h1>
    <a href="{{ path('product_index') }}">Back to the list</a>
    {% include "products/_form.html.twig"  with {'buttonValue': "Create"} %}
{% endblock %}